@{
    ViewData["Title"] = "Главная";
}
<div id="main">
    <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
        <h3>Выберите файл Word</h3>
        <input type="file" name="uploadedFiles" accept=".doc, .docx" /><br>
        <h3>Выберите файл Excel</h3>
        <input type="file" name="uploadedFiles" accept=".xlsx,.xls" /><br>
        <input id="merge_button" type="submit" value="Загрузить" />
    </form>
</div>